fieldset{
border-color:red;
align:center;
}
legend{

text-align:center;
color:blue
}
p{
font-size:125%;
}
#k1{
color:red;
}
table{
align:center;
width:70%;
}
th{
background-color:#b3edcf
}
table tr:nth-child(odd)  td{
           background-color:#b3edcf;
}
table tr:nth-child(even)  td{
            background-color:#e0f0e9;
}