#kl{
background-color : #f79646;
color:#ffffff;
font-size:extra large;
font-weight:bold;
letter-spacing: 0.3em;
text-align:center;
}

table{
border-collapse: collapse;
}
table tr:nth-child(even) td {background-color: #f2f2f2;}
th{
padding:8px;
background-color:#fde9d9;
font-size:large;
border:1px;
border-collapse:collapse;
border-style:solid;
border-color:#f79646
}
td{
padding:3px;
background-color:#fde9d9;
font-size:large;
border:1px;
border-collapse:collapse;
border-style:solid;
border-color:#f79646
}
#x2{
background-color:#687886;
color:#ffffff
}

#x1{
background-color:#687886;
color:#ffffff;
font-size:125%;
}