body{
background-color:pink;
}
#k1{
background-color:red;
height:500px;
width:500px;
border-style:double groove;
border-top-color:red;
border-bottom-color:blue;
border-right-color:green;
border-left-color:yellow;
border-radius:50px;
float:left;

}
#k2{
background-color:yellow;
height:500px;
width:500px;
border-style:double groove;
border-top-color:red;
border-bottom-color:blue;
border-right-color:green;
border-left-color:yellow;
border-radius:50px;
float:left;
}