#m{color:cyan}
#y{color:blueviolet;
font-size:50px;}
#p{color:coral;}
#a{color:cyan;
font-size:50px;}
#g{color:darkcyan;
font-size:70px;}
#e{color:DarkRed;
font-size:40px;}
#x1{
vertical-align:middle;
}
#s1{
background-color:#a0c263;
text-align:center;
height:100px;
vertical-align:middle;
}
#s2{
background-color:pink;
width:20%;
height:500px;
position:absolute;
}
#s3{
background-color:#f5c531;
width:80%;
height:400px;
margin-left:20%;
position:relative;
}
#s4{
background-color:#898989;
height:100px;
margin-left:20%;
position:static;

}
#s5{
background-color:black;
width:100%;
height:100px;
}