#o1,#o2,#o3,#o4
{
    width:200px;
    height:200px;
    background-color:aqua;
    border:2px dashed red;
    outline: 2px dotted green; 
}
#o1,#o3
{
position:absolute;
}
#o2,#o4{
position:relative;
margin-left:225px;

}
#o3,#o4{
margin-top:18px;
}
#o1,#o4{
border-radius:20% 80%;
}
#o2,#o3{
border-radius:80% 20%;
}